name: pull_request

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - uses: aquaproj/aqua-installer@e6160e5a751bbcbd337a834eb75c15ba9ca206ae # v3.0.2
        with:
          aqua_version: v2.37.2
      - name: Setup Node with Volta
        timeout-minutes: 3
        uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4.2.1
      - name: pnpm install
        run: |
          set -xv
          volta install node
          corepack enable pnpm
          volta install pnpm
          pnpm install
      - name: textlint
        run: pnpm run lint
      - name: markdownlint
        run: pnpm run lint:md
      - name: audit
        run: pnpm audit
      - name: typos
        run: typos .
