name: pull_request

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.6
        with:
          submodules: true
      - uses: aquaproj/aqua-installer@v3.0.1
        with:
          aqua_version: v2.28.0
      - name: Setup Node with Volta
        timeout-minutes: 3
        uses: volta-cli/action@v4.1.1
      - name: pnpm install
        run: |
          set -xv
          volta install node
          corepack enable pnpm
          volta install pnpm
          pnpm install
      - name: textlint
        run: pnpm run lint
      - name: markdownlint
        run: pnpm run lint:md
      - name: audit
        run: pnpm audit
      - name: typos
        run: typos .
