name: pull_request

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          submodules: true
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.30.0
      - name: Setup Node with Volta
        timeout-minutes: 3
        uses: volta-cli/action@2e822b56a79c7ae5710ee51fbd99e93b95149829 # v4.2.0
      - name: pnpm install
        run: |
          set -xv
          volta install node
          corepack enable pnpm
          volta install pnpm
          pnpm install
      - name: textlint
        run: pnpm run lint
      - name: markdownlint
        run: pnpm run lint:md
      - name: audit
        run: pnpm audit
      - name: typos
        run: typos .
