name: pull_request

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          submodules: true
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.36.0
      - name: Setup Node with Volta
        timeout-minutes: 3
        uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4.2.1
      - name: pnpm install
        run: |
          set -xv
          volta install node
          corepack enable pnpm
          volta install pnpm
          pnpm install
      - name: textlint
        run: pnpm run lint
      - name: markdownlint
        run: pnpm run lint:md
      - name: audit
        run: pnpm audit
      - name: typos
        run: typos .
