name: pull_request

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          submodules: true
      - uses: aquaproj/aqua-installer@v2.2.0
        with:
          aqua_version: v2.21.0
      - name: pnpm install
        run: volta install && corepack enable pnpm && pnpm install
      - name: textlint
        run: pnpm run lint
      - name: markdownlint
        run: pnpm run lint:md
      - name: audit
        run: pnpm audit
      - name: typos
        run: typos .
