name: pull_request

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.2.0
        with:
          node-version-file: package.json
      - name: pnpm install
        run: |
          npm i -g corepack pnpm
          pnpm install
      - name: textlint
        run: pnpm run lint
      - name: markdownlint
        run: pnpm run lint:md
      - name: audit
        run: pnpm audit
  typos:
    name: typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.44.0
      - name: typos
        run: typos .
